<div class="banner-home">
  <div class="banner-content">
    <h1 class="slogan">Movy</h1>

    <p>Ride Freedom</p>
    <div class="link_to">
    <%= render "shared/search" %>
    <%= link_to "Rent out your bike", new_bike_path %>
  </div>
  </div>
</div>




<div class="EXPERIENCE">
  <h2>EXPERIENCE FREEDOM IN 3 STEPS</h2>
</div>
<br>




<div class="steps-bike">

  <div class="row">
    <div class="col-xs-12 col-sm-4">
    <span class="glyphicon glyphicon-search">
      <p>Search</p>
    </span>
  </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <span class="glyphicon glyphicon-hand-up">
        <p>Book</p>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <span class="glyphicon glyphicon-road">
        <p>Drive</p>
      </span>
    </div>
  </div>

</div>




<br>
<br>

<h2>Who trust us?</h2>

<div class="testimonials">

<figure class="snip1167">
  <%= image_tag "Andy.png" %>
  <blockquote><strong>Andrey,30,Developer</strong><br>After using this app, bikes will be forever motorbikes!
  </blockquote>
  <div class="author">
    <h5>Pelican Steve <span> LittleSnippets</span></h5>
  </div>
</figure>
<figure class="snip1167">
  <%= image_tag "Cali.png" %>
  <blockquote><strong>Cali,28, owner of @Calizza</strong><br>With this app I can rent a bike and get my pizza faster, and get in Naples faster than with the train !
  </blockquote>
  <div class="author">
    <h5>Max Conversion<span> LittleSnippets</span></h5>
  </div>
</figure>
<figure class="snip1167">
  <%= image_tag "Francesco.png" %>
  <blockquote><strong>Francesco, 35,expert in Tinder</strong><br>
    Incredible the sensation of leaving my hair in the air and feel how the wind moves my hair, besides, now I have matches!
</blockquote>
  <div class="author">
    <h5>Eleanor Faint<span> LittleSnippets</span></h5>
  </div>
</figure>

<figure class="snip1167">
  <%= image_tag "Marco.png" %>
  <blockquote><strong>Marco 55, programmer </strong><br>
  Now I can go safe with my girlfriend and not have the worry of having my bike stolen again! I feel young again! thank you very much Movy!.</blockquote>
  <div class="author">
    <h5>Eleanor Faint<span> LittleSnippets</span></h5>
  </div>
</figure>
<figure class="snip1167">
  <%= image_tag "Luis.png" %>
  <blockquote><strong>Luis,27,Stripper</strong><br>Puppies and dogs are good to get a girls but motorbikes are bette
  </blockquote>
  <div class="author">
    <h5>Eleanor Faint<span> LittleSnippets</span></h5>
  </div>
</figure>
</div>


<%= render "shared/footer" %>















































