<% @bikes.each do |bike| %>
<ul>
  <li>
    <%= bike.model %>
    <%= bike.description %>
    <%= bike.year %>
    <%= bike.category %>
    <%= bike.cc %>
    <%= bike.rate %>
    <%= bike.photo %>
    <%= bike.location %>
    <%= bike.consumption %>
  </li>
</ul>
<% end %>

