	<h1 class="text-center">Bike listing</h1>
<% @bikes.each do |bike| %>
	<div class="col-lg-4">
		<div class="bike">

	<p><strong><%= bike.make %></strong> - <%= bike.model %></p>
	<p><%= bike.location %></p>
	<div class="row">
		<% if policy(bike).show? %>
		<div class="col-xs-12 col-sm-3">
			<%= link_to 'Show', bike, class: "btn btn-success btn-block btn-xs" %></div>
			<% end %>
			<% if policy(bike).edit? == false %>
			<div class="col-xs-12 col-sm-3">
				<%= link_to 'Book', "LINK TO BE DEFINED BY DANIEL", class: "btn btn-warning btn-block btn-xs" %>
			</div>
			<% end %>
			<% if policy(bike).update? %>
			<div class="col-xs-12 col-sm-3">
				<%= link_to 'Edit', edit_bike_path(bike), class: "btn btn-info btn-block btn-xs" %>
			</div>
			<% end %>
			<% if policy(bike).destroy? %>
			<div class="col-xs-12 col-sm-3">
				<%= link_to 'Destroy', bike, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-block btn-xs" %>
				<% end %>
</div>
			</div>
		</div>
	</div>
	</div>
	<% end %>
