<h1>Add a bike</h1>

<br>

<%= simple_form_for [@user, @bike] do |f| %>
  <h3>Mandatory information</h3>
  <br>
  <%= f.input :rate %> <%= "$/day" %>
  <%= f.input :photo %>
  <%= f.input :model %>
  <%= f.input :location %>

  <br>
  <h3>Additional information</h3>
  <%= f.input :make %>
  <%= f.input :category %>
  <%= f.input :year %>
  <%= f.input :description %>
  <%= f.input :cc %>
  <%= f.input :consumption %>

  <%= f.submit "Add the booking", class: "btn btn-primary" %>
  <% end %>

  <br>

<%= link_to "Go to the homepage",  bikes_path %>

