<div class = "h1-div-title-showpage">
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <img src="https://bit.ly/2EWVPxD" alt="Photo bike" class="image-show-bike">
    </div>

    <div class="div-specific-bike-show col-sm-4">
      <span class="special-badge badge badge-brand-primary"><%= @bike.rate %><%= "$/day" %></span>
      <ul>
        <ol><%= @bike.make %></ol>
        <ol><%= @bike.model %></ol>
        <%= link_to "Rent this bike", bikes_path, class: "btn btn-primary" %>

      </ul>
    </div>
  </div>
  <div class="div-detail-bike-show col-sm-12">
    <h3> Description: </h3>
    <ul>
      <ol><%= "Category: " %><%= @bike.category %></ol>
      <ol><%= "Year: " %><%= @bike.year %></ol>
      <ol><%= "Description: " %><%= @bike.description %></ol>
      <ol><%= "CC: " %><%= @bike.cc %></ol>
      <ol><%= "Consumption: " %><%= @bike.consumption %> <%= "km/liter" %></ol>
    </ul>
  </div>

  <br>
  <br>

  <div class="div-owner-bike-show">
    <h3>The bike owner is: </h3>
    <ul>
      <li><%= @bike.user.profile.name %></li>
      <li><%= @bike.user.email %></li>
    </ul>
  </div>

  <br>
  <br>

  <div class="div-location-bike-show">
    <h3>The bike is located in: </h3>
    <td><%= @bike.location %></td>
  </div>

  <br>
  <br>

  <div class="div-status-bike-show">
    <h3>The bike is <%= @bike.status %></h3>
  </div>

  <div class="div-buttons-bike-show">

    <% if policy(@bike).toggle? %>
    <%= link_to "Change bike rental status", toggle_bike_path(@bike), class: "btn-btn-danger" %>
    <% end %>

    <%= link_to "Go to the other listings",  bikes_path , class: "btn btn-warning"%>
    <br>
    <%= link_to "Delete this bike", bike_path(@bike),
    method: :delete,
    data: { confirm: "Are you sure?" }, class: "btn btn-info"%>
  </div>
</div>

